@charset "ISO-8859-1";
html {  
  font-family: Calibri, Helvetica, sans-serif;    
 background: linear-gradient( #FC466B 0%, #3F5EFB 100%);
 width:max-content;
	height:100%;
}  
.header{
	display:flex;
	position:relative;
}

.header .sidebar h1{
    justify-content: center;
    text-align: center;
    text-transform:uppercase;
    color:White;
    font-size:27px;
    margin-bottom:30px;
    
 }    
 .header .sidebar{
 width:250px;
 height:100%;
 position:fixed;
 top:0;
 left:0;
 padding: 20px 30px;
 background-color:blue;
 }
 
 .header .sidebar ul li{
 padding:15px;
border-bottom: 1px solid rgba(0,0,0,0.5);
 border-top:1px solid rgba(225,225,225,0.5);}
 
 .header .sidebar ul li:hover{
  color: green;}
 
 .header .sidebar ul{
 list-style-type:none;
 }
  .header .sidebar ul li a{
  color:white;
  transition:0.3s all;
  font-size:20px;
  text-decoration:none;}
  
.header .sidebar ul li a:hover{
  color: yellow;
  font-size:25px;
  }
 